:root {
  --black: #1A1A1A;
  --offwhite: #f0eee7;
  --pink: #C870A0;
  --green: #1E5128;
  --blue: #1B284E;
  --sand: #DBD6B8;
}

/* BASE */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  color: var(--offwhite);
}

/* LOGO FONT */
.brand {
  font-family: 'Playfair Display', serif;
}

/* CLEAN TEXT */
.text {
  font-family: 'Inter', sans-serif;
}

/* CAPS STYLE */
.caps {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}