:root {
  --black: #121212;
  --offwhite: #f0eee7;
  --pink: #C870A0;
  --green: #1E5128;
  --blue: #1B284E;
  --sand: #DBD6B8;
  --font-ui: 'Inter', sans-serif;
  --font-brand: 'Playfair Display', serif;
  --font-stylish: 'Playfair Display', serif;
  --font-reviews: 'Inter', sans-serif;
}

/* BASE */
body {
  font-family: var(--font-ui);
  background-color: var(--black);
  color: var(--offwhite);
}

/* LOGO FONT */
.brand {
  font-family: var(--font-brand);
}

.stylish {
  font-family: var(--font-stylish);
}

/* CLEAN TEXT */
.text {
  font-family: var(--font-ui);
}

.text-reviews {
  font-family: var(--font-reviews);
}

/* CAPS STYLE */
.caps {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

html, body {
  height: auto !important;
  min-height: 100%;
  overflow-y: auto !important;
}

#root {
  height: auto !important;
  min-height: 100vh;
  overflow: visible !important;
  display: block !important;
}
